<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .header {
            display: flex;
            flex-direction: row;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta Report</title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <div>Venta - <span th:text="${venta.codigo}"></span></div>
            <div>Fecha: <span th:text="${venta.fecha}"></span></div>
            <div>Usuario: <span th:text="${venta.usuario.nombre}"></span></div>
        </div>
        <div class="header-right">
            <img th:src="@{classpath:/static/logo-blumbit-color1.png}" alt="Blumbit Logo"></img>
        </div>
    </div> 
    <div>
        <h3>Cliente</h3>
        <p>Nombre: <span th:text="${venta.cliente.nombreCompleto}"></span></p>
        <p>Documento: <span th:text="${venta.cliente.documento}"></span></p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="detalleCompra : ${detalleCompra}">
                <td th:text="${detalleCompra.producto.nombre}"></td>
                <td th:text="${detalleCompra.cantidad}"></td>
                <td th:text="${detalleCompra.precio}"></td>
                <td th:text="${detalleCompra.cantidad * detalleCompra.precio}"></td>
            </tr>
        </tbody>
    </table>
    <div>
        Total: <span th:text="${venta.total}"></span>
    </div>
</body>
</html>